
<div class="container">
  <div class="row">
    <p>This is a simple demonstration of an animated button</p>
  </div>
  <div class="row">
    <button [@myTrigger]="state" (click)="toggleState()">Here is a button. Press it.</button>
  </div>
</div>

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <p>This is a demonstration of the use of the wild-card specifier </p>
  </div>
  <div class="row">
    <button [@myTrigger2]="state2" (click)="toggleState2()">Here is a button. Press it.</button>
  </div>
</div>

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <p>This is a demonstration of the use of the void specifier </p>
    <button (click)="toggleState3()">Click this button to add to the list.</button>
  </div>
  <div class="row demo">
    <ul class="col demo">
      <li *ngFor="let item of items" [@myTrigger3]="state3">{{ item }}</li>
    </ul>
  </div>
</div>

<hr />

<div class="container">
  <div class="h1">Animation Timing</div>
  <p>There are three properties that can be used in animation timing</p>
  <ul>
    <li><strong>Delay</strong> - the delay before the commencement of the animation</li>
    <li><strong>Duration</strong> - the length of the animation. Duration and delay can be declared in milliseconds '400', a string in milliseconds '400ms' or a string in seconds '0.4s'</li>
    <li><strong>Easing</strong> - the change in speed of the animation as it occurs</li>
  </ul>
  <p>These are all coding in the 'timing string', which has a format such as <strong>'0.8s 500ms ease-in'</strong>. In this example, the animation will have a duration of 0.8 seconds, a delay of half a second and progressively speed up as it runs.</p>
  <div class="h3">Delay</div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="toggleStateAnimationDelay()">Click to demonstrate delay</button>
    </div>
    <div class="col demo-div" [@animationTrigger1]="animationStateDelay">
      <div>Delay: 0ms</div>
      <div>Duration: 1000ms</div>
      <div>Easing: none</div>
    </div>
    <div class="col demo-div" [@animationTrigger2]="animationStateDelay">
      <div>Delay: 1000ms</div>
      <div>Duration: 1000ms</div>
      <div>Easing: none</div>
    </div>
    <div class="col demo-div" [@animationTrigger3]="animationStateDelay">
      <div>Delay: 2000ms</div>
      <div>Duration: 1000ms</div>
      <div>Easing: none</div>
    </div>
  </div> <!-- row -->
  <div class="h3">Duration</div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="toggleStateAnimationDuration()">Click to demonstrate duration</button>
    </div>
    <div class="col demo-div" [@animationTrigger4]="animationStateDuration">
      <div>Delay: 0ms</div>
      <div>Duration: 1000ms</div>
      <div>Easing: none</div>
    </div>
    <div class="col demo-div" [@animationTrigger5]="animationStateDuration">
      <div>Delay: 0ms</div>
      <div>Duration: 2000ms</div>
      <div>Easing: none</div>
    </div>
    <div class="col demo-div" [@animationTrigger6]="animationStateDuration">
      <div>Delay: 0ms</div>
      <div>Duration: 3000ms</div>
      <div>Easing: none</div>
    </div>
  </div> <!-- row -->
  <div class="h3">Easing</div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="toggleStateAnimationEasing()">Click to demonstrate easing</button>
    </div>
    <div class="col demo-div" [@animationTrigger7]="animationStateEasing">
      <div>Delay: 0ms</div>
      <div>Duration: 3000ms</div>
      <div>Easing: none</div>
    </div>
    <div class="col demo-div" [@animationTrigger8]="animationStateEasing">
      <div>Delay: 0ms</div>
      <div>Duration: 3000ms</div>
      <div>Easing: ease-in</div>
    </div>
    <div class="col demo-div" [@animationTrigger9]="animationStateEasing">
      <div>Delay: 0ms</div>
      <div>Duration: 3000ms</div>
      <div>Easing: ease-out</div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

<hr />

<div class="container">
  <div class="h1">Multi-step Animations</div>
  <p>Multi-step animations are implemented using the <strong>keyframes</strong> method inside the <strong>animate</strong> function. It allows the specification of a number of steps </p>
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="toggleStateAnimationMultiStep()">Click to demonstrate multi-step animations</button>
    </div>
    <div class="col demo-div" [@animationTrigger10]="animationStateMultiStep">
      <div>Delay: 0ms</div>
      <div>Duration: 3000ms</div>
      <div>Easing: none</div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

<hr />

<!--<expander-prototype></expander-prototype>-->

  <router-outlet></router-outlet>
